@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite';
}

.containerIndex{
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 4fr 4fr 1fr;
}

.title{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color: white;
    font-size: 30px;
}

.titleImg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


.btn-start {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    grid-column-end: auto;
    background-image: linear-gradient(-60deg, black, grey, white);
    font-family: 'Special Elite';
    color: white;  
    text-align: center;
    text-transform: uppercase;
    padding: 15px 15px;
    border-radius: 100px;
    box-shadow: 0 10px 20px #eee;
}



 
