@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body{
    font-family: 'Special Elite';
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title{
    background-color: aqua;
    text-align: center;
    padding: 300px 0;
}

.imgTitle{
    background-color: blueviolet;
}
@font-face {
    font-family: myFirstFont;
    src: url(https://www.dafont.com/fr/jmh-typewriter.font);
 }



 
