@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite';
}

.containerMain{
    display: grid;
    grid-template-rows: repeat(10, 10fr);
}

.parasolImg{
    max-width: auto;
    height: auto;
}